/* ListUserPage.module.css */
.userList {
    list-style: none;
    padding: 0;
  }
  
  .userListContainer {
    /* max-height: 500px;  */
    /* overflow-y: auto;  */
  }
  
  .loadMoreButton {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease; /* Add transition for smoother hover effect */
  }
  
  .loadMoreButton:hover {
    background-color: #0056b3;
  }
  
  .loadMoreButton:disabled {
    background-color: #ccc; /* Change color for disabled state */
    cursor: not-allowed; /* Change cursor for disabled state */
  }
  

  .card {
    width: 300px;
    margin: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f9fa;
  }
  
  .actions {
    padding: 8px;
  }
  
  .iconButton {
    transition: color 0.3s ease;
  }
  
  .iconButton:hover {
    color: #333;
  }
  
  


  /* Home.module.css */

.modalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.modalTitle {
  margin-bottom: 16px;
  font-size: 1.5rem;
  font-weight: bold;
}

.modalDescription {
  color: #666;
  margin-bottom: 8px;
}

.backdrop {
  /* Adjust the opacity of the backdrop */
  background-color: rgba(0, 0, 0, 0.5); /* Change the alpha value (0.5) to adjust the opacity */
}

/* Add more styles as needed */


  /* YourComponent.module.css */

@media (max-width: 768px) {
  .userListContainer {
    padding: 0 10px;
  }

  .userListContainer .List {
    padding: 0 !important;
  }

  .userListContainer .ListRow {
    display: block !important;
  }
}
